!.env.example
!pnpm-lock.yaml
!pnpm-workspace.yaml
!README.md
*~
*.tsbuildinfo
*.log
.DS_Store
.env
.env*
.eslintcache
.git/
.gitattributes
.github/
.gitignore
.pnpm-store/
.vite/
.vscode/
*:Zone.Identifier
auto-imports.d.ts
components.d.ts
deploy.sh
dist/
node_modules/
pnpm-debug.log*
Thumbs.db
vite.config.ts.timestamp-*
