services:
  client:
    image: ghcr.io/adibarra/shadle/client:latest
    ports:
      - '3000:80'
    restart: unless-stopped
    depends_on:
      - server

  server:
    image: ghcr.io/adibarra/shadle/server:latest
    env_file:
      - .env
    volumes:
      - ./app.log:/app/app.log
      - ./.env:/app/.env:ro
    restart: unless-stopped
    depends_on:
      - postgres

  postgres:
    image: postgres:alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    # ports:
    #   - '3002:5432'
    volumes:
      - postgres-data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres-data:
