---
name: Build Images

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-deploy-images:
    name: Build Images
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Check out code from GitHub
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set image tags
        run: |
          SHORT_SHA=$(echo "${{ github.sha }}" | cut -c1-8)
          echo "bake_set<<EOF" >> $GITHUB_ENV
          echo "*.args.COMMIT_HASH=${{ github.sha }}" >> $GITHUB_ENV
          echo "app.tags=ghcr.io/${{ github.repository }}/app:$SHORT_SHA" >> $GITHUB_ENV
          if [ "${{ github.ref }}" = "refs/heads/main" ]; then
            echo "app.tags=ghcr.io/${{ github.repository }}/app:latest" >> $GITHUB_ENV
          fi
          echo "EOF" >> $GITHUB_ENV

      - name: Build and push images
        uses: docker/bake-action@v5
        with:
          files: docker-bake.hcl
          targets: all
          push: ${{ github.ref == 'refs/heads/main' }}
          set: ${{ env.bake_set }}
